<!DOCTYPE html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
        <div class='main-content'>
            {{>header}}
            <p>This page was created by Sean. It will return weather from darksky.net</p>
            <img class='portrait' src="./img/download.png" alt="Profile photo">
        </div>

    {{>footer}}

</body>